# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/


# Дополнительные исключения для bin и build в исходниках
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/build/
!**/src/test/**/build/


# Miscellaneous
.DS_Store
Thumbs.db


# Maven
target/

# Temporary files
*.log
*.tmp
*.bak
